/*
	Townee - Beta
	Pixelbrush Studios 2011
	David Entremont
	
	v.0.5
*/
body {
	background-color: #B8E9F0;
	font-family: "Georgia", serif;
	font-size: 12pt;
	color: #929290;
	text-align: center;
}
.clear {
	clear: both;
}
h1, h2, h3, h4, h5 {
	font-family: "Helvetica", Arial, sans-serif;
	color: #320540;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: #320540;
}
a:hover {
	text-decoration: underline;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
#header {
	height: 55px;
	background-color: #FFF;
	line-height: 55px;
}
.logo {
	float: left;
}
.cityPicker {
	float: right;
}
#nav {
	height: 45px;
	padding-left: 15px;
	background-color: #320540;
	text-transform: uppercase;
	font-family: "Helvetica", Arial, sans-serif;
}
.menu li {
	float: left;
	display: inline-block;
	padding: 3px 10px;
	margin: 12px 15px 0 0;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}
.menu li a {
	color: #FFF;
}
.menu li a:hover {
	text-decoration: none;
}
.menu li:hover a {
	color: #320540;
}
.menu li.active, .menu li:hover {
	background-color: #FFF;
}
.menu li.active a {
	color: #320540;
}
#content {
	padding: 20px;
	background-color: #ECF0F3;
}
.widget {
	width: 300px;
	float: left;
	background-color: #FFF;
}
.tweet {
	clear: both;
	margin-bottom: 10px;
}
.tweet img {
	float: left;
	margin-right: 10px;
}
#bottom {
	background-color: #FFF;
	padding: 20px;
}
.section {
	width: 220px;
	float: left;
}
.middle {
	width: 478px;
	border-left: 1px solid #ECF0F3;
	border-right: 1px solid #ECF0F3;
}
#footer {
	height: 40px;
	background-color: #320540;
	color: #FFF;
	line-height: 40px;
}




.column { width: 170px; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; float: left; width: 230px;}
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-header:hover, .portlet-header:active {
	cursor: move;
}
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 200px !important; }
.ui-sortable-placeholder * { visibility: hidden; }